body {
    padding: 20px;
}
  


  
.left-div {
    flex: 0 0 25%; /* Adjust the width of the left div as per your requirement */
}
  
.right-div {
    flex: 1; /* Make the right div take up the remaining space */
    
}
.container{
    margin-top: 20px;
    
}